@media screen and (min-width:480px) {
    .container{
     max-width: 426px;
    }
    
  }


  @media screen and (max-width:385px) {
    .mob-tel{
      font-weight: 700;
      font-size: 30px;
      line-height: 1,11;
      letter-spacing: 0.02em;
      color: var(--main-color-text);
    }
    
  }
 
  