


  @media screen and (max-width:385px) {
    .mob-tel{
      font-weight: 700;
      font-size: 28px;
      line-height: 1,11;
    }

    .mob-soc-list {
      gap: 40px;
    }
    
  }
  @media screen and (min-width:428px) {
    .main-section{
      background-image: var(--linear-gradient), url(../images/hero-bg-tab.jpg);
    }
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-section {
    background-image: var(--linear-gradient), url(../images/hero-bg-tab-2x.jpg);
  }
}
    
  }
 
    
      
  
 
  
    
  
 
  